name: Stock System

on:
  schedule:
    - cron: '0 14-22 * * 1-5'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  process:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Deps
        run: pip install pandas pytz yfinance matplotlib

      - name: Run Tracker
        run: python stock_tracker.py

      - name: Run Report
        run: python generate_report.py

      - name: Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Analytics Update [skip ci]"
          file_pattern: 'stock_history.json README.md error_log.txt *.png'
